body{
    padding: 0;
    margin: 0;              
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: 'Segoe UI', sans-serif;
     background-color: #e49696;
}
.todo-container{
   background-color: white;
   box-shadow: 0 10px 25px rgba(0,0,0,0.1);
   border-radius: 20px;
   padding: 20px;
   width: 350px;

}
h1{
   text-align: center;
   color: #333;
}


  #input-section{
      display: flex;
      flex-direction: column;       
      align-items: center;           
      gap: 10px;  
                      
    }
    #input-section input{
        padding: 10px 20PX;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        border: 1px solid;
        font-size: 15px;
        font-weight: bold;
    }


 #input-section input:focus{
    border-color:rgb(64, 112, 225);
 }
 #input-section button{
    padding: 10px 30px;
    background-color: rgb(64, 112, 225);
    color: white;
    border-radius: 10px;
    outline: none;
    border: 1px solid ;
 } 

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    cursor: text;
}
ul {
   list-style: none;
   padding: 0; 
}

li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

li:hover { background: #f9f9f9; }

.completed .task-text {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background: #ff4d4d;
    font-size: 12px;
    padding: 5px 8px;
} 
.lt{
   text-decoration: line-through;
}
.button{
   background-color: red;
   border-radius: 5px;
   color: white;
   padding: 5px 20px;
   border: none;

}
.taskList{
   min-height: 200px;
   max-height: 200px;
   overflow-y: auto;
   padding-right: 5px;
   /* cursor: pointer; */
}

/* 1. Scrollbar ka pura area */
.taskList::-webkit-scrollbar {
    width: 8px; /* Thora sa width barha di taaki nazar aaye */
}

/* 2. Scrollbar ka rasta (Track) */
.taskList::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}


.taskList::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 10px;
    border: 2px solid #f1f1f1; /
}


.taskList::-webkit-scrollbar-thumb:hover {
    background: rgb(64, 112, 225); 
}

.stats{
   display: flex;
   justify-content: center;
   background-color: rgb(64, 112, 225);
   border-radius: 10px;   
   
   
}
.stats p{
   font-size: 10px;
   color: #f9f7f7;
   /* gap: 10px; */
   font-weight: bold;
   
   padding: 10px;
   /* border-radius: 10px; */
  
}
.stats .tt{
 background-color: #ff4d4d;
 padding: 2px 5px;
  border-radius: 4px;
   color: white;
   margin-left: 3px;
  
   
}
.stats .ct{
 background-color: #ff4d4d;
   padding: 2px;
   color: white;
   margin-left: 3px;
    padding: 2px 5px;
  border-radius: 4px;
   
}
.stats .bt{
 background-color: #ff4d4d;
   padding: 2px 5px;
   color: white;
   margin-left: 3px;
    padding: 2px 5px;
  border-radius: 4px;
   
}